@font-face {/*Black*/
    font-family: 'jjfont_gotham2';
    font-style: normal;
    font-weight: 900;
    src: url("ftp://jungju@jungju.dothome.co.kr/html/nendo/css/font/Gotham-Black.eot");
    src: url("ftp://jungju@jungju.dothome.co.kr/html/nendo/css/font/Gotham-Black.ttf") format('embedded-opentype'),
         url("ftp://jungju@jungju.dothome.co.kr/html/nendo/css/font/Gotham-Black.woff") format('woff'),
  }
  @font-face {/*Bold*/
    font-family: 'jjfont_gotham';
    font-style: normal;
    font-weight: bold;
    src: url("../font/Gotham-Bold.eot");
    src: url("../font/Gotham-Bold.ttf") format('embedded-opentype'),
         url("../font/Gotham-Bold.woff") format('woff'),
  }
  @font-face {/*Book*/
    font-family: 'jjfont_gotham';
    font-style: normal;
    font-weight: 700;
    src: url("ftp://jungju@jungju.dothome.co.kr/html/nendo/css/font/Gotham-Book.eot");
    src: url("ftp://jungju@jungju.dothome.co.kr/html/nendo/css/font/Gotham-Book.ttf") format('embedded-opentype'),
         url("ftp://jungju@jungju.dothome.co.kr/html/nendo/css/font/Gotham-Book.woff") format('woff'),
  }
  @font-face {/*Light*/
    font-family: 'jjfont_gotham';
    font-style: normal;
    font-weight: 600;
    src: url("ftp://jungju@jungju.dothome.co.kr/html/nendo/css/font/Gotham-Light.eot");
    src: url("ftp://jungju@jungju.dothome.co.kr/html/nendo/css/font/Gotham-Light.ttf") format('embedded-opentype'),
         url("ftp://jungju@jungju.dothome.co.kr/html/nendo/css/font/Gotham-Light.woff") format('woff'),
  }
  @font-face {/*Medium*/
    font-family: 'jjfont_gotham';
    font-style: normal;
    font-weight: 500;
    src: url("../font/Gotham-Medium.eot.eot");
    src: url("../font/Gotham-Medium.ttf.ttf") format('embedded-opentype'),
         url("../font/Gotham-Medium.woff.woff") format('woff'),
  }
  @font-face {/*나눔바른고딕*/
    font-family: 'jjfont_nbg';
    font-style: normal;
    font-weight: normal;
    src: url("ftp://jungju@jungju.dothome.co.kr/html/nendo/css/font/NanumBarunGothic.eot");
    src: url("ftp://jungju@jungju.dothome.co.kr/html/nendo/css/font/NanumBarunGothic.ttf") format('embedded-opentype'),
         url("ftp://jungju@jungju.dothome.co.kr/html/nendo/css/font/NanumBarunGothic.woff") format('woff'),
  }
  
  
  
  
  
  
/*   
  @font-face {
      font-family: "Gotham";
      font-style: normal;
      font-weight: 600;
      src: 
          url("https://static-mh.content.disney.io/starwars/assets/din_reg/da088ecca53c4831a95b6fd81b2-906f216c018f.eot?#iefix") format("embedded-opentype"),
          url("https://static-mh.content.disney.io/starwars/assets/din_reg/da088ecca53c4831a95b6fd81b2-e031b4de535a.woff") format("woff"),
          url("https://static-mh.content.disney.io/starwars/assets/din_reg/da088ecca53c4831a95b6fd81b2-3a0460b3f41b.ttf") format("truetype"),
          url("https://static-mh.content.disney.io/starwars/assets/din_reg/da088ecca53c4831a95b6fd81b2-61b997f2678f.svg#e3145f65-29b5-4f7f-8c6e-2dc135021b6a") format("svg");
    }
    @font-face {
      font-family: "DIN";
      font-style: normal;
      font-weight: 800;
      src: 
          url("https://static-mh.content.disney.io/starwars/assets/din_med/b90b6bdf15e245449fe092c79ff-6cf0f3c6f832.eot?#iefix") format("embedded-opentype"), 
          url("https://static-mh.content.disney.io/starwars/assets/din_med/b90b6bdf15e245449fe092c79ff-75090969b221.woff") format("woff"), 
          url("https://static-mh.content.disney.io/starwars/assets/din_med/b90b6bdf15e245449fe092c79ff-cc3283a08cc2.ttf") format("truetype"), 
          url("https://static-mh.content.disney.io/starwars/assets/din_med/b90b6bdf15e245449fe092c79ff-abc53257b584.svg#b90b6bdf-15e2-4544-9fe0-92c79fff0ecd") format("svg");
    }
    @font-face {
      font-family: "DINCond";
      font-style: normal;
      font-weight: 600;
      src: 
          url("https://static-mh.content.disney.io/starwars/assets/dincond_med/4f311da19ec64379fa962bc1b45-c6e2e32ef272.eot?#iefix") format("embedded-opentype"), 
          url("https://static-mh.content.disney.io/starwars/assets/dincond_med/4f311da19ec64379fa962bc1b45-8a7c81b3069f.woff") format("woff"),
          url("https://static-mh.content.disney.io/starwars/assets/dincond_med/4f311da19ec64379fa962bc1b45-e44e78570600.ttf") format("truetype"),
          url("https://static-mh.content.disney.io/starwars/assets/dincond_med/4f311da19ec64379fa962bc1b45-b2b2d5921af2.svg#4f311da1-9ec6-4379-9621-b45be0e23abd") format("svg");
    }
    
    @font-face {
      font-family: "DIN";
      font-style: normal;
      font-weight: 600;
      src:
          url("https://static-mh.content.disney.io/starwars/assets/din_reg/da088ecca53c4831a95b6fd81b2-906f216c018f.eot?#iefix") format("embedded-opentype"),
          url("https://static-mh.content.disney.io/starwars/assets/din_reg/da088ecca53c4831a95b6fd81b2-e031b4de535a.woff") format("woff"),
          url("https://static-mh.content.disney.io/starwars/assets/din_reg/da088ecca53c4831a95b6fd81b2-3a0460b3f41b.ttf") format("truetype"), 
          url("https://static-mh.content.disney.io/starwars/assets/din_reg/da088ecca53c4831a95b6fd81b2-61b997f2678f.svg#e3145f65-29b5-4f7f-8c6e-2dc135021b6a") format("svg");
    }
    @font-face {
        font-family: "DINCond"; font-style: normal; font-weight: 600; src: url("https://static-mh.content.disney.io/starwars/assets/dincond_med/4f311da19ec64379fa962bc1b45-c6e2e32ef272.eot?#iefix") format("embedded-opentype"),
            url("https://static-mh.content.disney.io/starwars/assets/dincond_med/4f311da19ec64379fa962bc1b45-8a7c81b3069f.woff") format("woff"),
            url("https://static-mh.content.disney.io/starwars/assets/dincond_med/4f311da19ec64379fa962bc1b45-e44e78570600.ttf") format("truetype"), 
            url("https://static-mh.content.disney.io/starwars/assets/dincond_med/4f311da19ec64379fa962bc1b45-b2b2d5921af2.svg#4f311da1-9ec6-4379-9621-b45be0e23abd") format("svg");
    }
    @font-face {
      font-family: "GeoGrotesque";
      font-style: normal;
      font-weight: 400;
      src: url("https://static-mh.content.disney.io/starwars/assets/geo_reg/ae5b8a9caf824542345az4523o5-ddbdc2b6ded4.eot?#iefix") format("embedded-opentype"), url("https://static-mh.content.disney.io/starwars/assets/geo_reg/ae5b8a9caf824542345az4523o5-d2aeb35a1acc.woff") format("woff"), url("https://static-mh.content.disney.io/starwars/assets/geo_reg/ae5b8a9caf824542345az4523o5-50b54d41815e.ttf") format("truetype"), url("https://static-mh.content.disney.io/starwars/assets/geo_reg/ae5b8a9caf824542345az4523o5-f0e98aa674d5.svg#ae5b8a9c-af85-4ddf-a0a6-602405583707") format("svg");
    } */